@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0.1rem;
    width: 100dvh;
    height: 1.2rem;
    background-color: var(--foreground);
    color: var(--background);
    z-index: 50;
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
}

.marquee-content {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

.marquee-text {
    padding: 0 1rem;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.2em;
}

.marquee-wrapper {
    display: flex;
}