@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f5;
    --foreground: #09090b;
    --scrollbar-width: 2px;
    /* Largeur de la barre de défilement */
    --frame-size: 8dvmin;
    /* Taille du cadre pour les marges et positionnements */
  }

  .dark {
    --background: #09090b;
    --foreground: #f4f4f5;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/* Personnalisation de la barre de défilement */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 0;
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}